body{
    text-align: center;
    font-size: 50px;
}
h1{
   
color: crimson
    border: 3px;
    border-bottom-color: white;
   font-family: 'Lobster', cursive;
    background-color: deepskyblue;
}
iframe {
    padding-top: 50px;
}
h1{
    color: aliceblue;
    z-index: 99999;
}
marquee{
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
   margin-left: 490px;
}
#name3{
    background-color: darkblue;
}